@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	body{
		background: url(img/portada-zapa.jpg);
		background-size: 100vw 100vh;
		background-repeat: no-repeat;
	}
	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.6);
		z-index: -1;
		top: 0;left: 0;
	}
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 100px;
		position:static;
		top: 0;left: 0;

	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
		
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	}
	.logo img{
		margin-left: 10px;
		width: 150px;
		height: 120px;
		margin-top: -155px;
	}
	.container .menu{
		float:right;
		line-height: 100px;
	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #c7c7c7;
		padding-bottom: 5px;
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display:none;
	}
	.container-menu{
		position:absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 100vh;
		position:absolute;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #1f1f1f;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	/*Fin de Menù lateral*/
.boss{
text-align: center;
margin-top: 300px;
}

/*FORMULARIO DE CONTACTO*/
.content{
	margin-top: 150px;
}
.portada-contactos img{
    width: 100%;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
ul {
    list-style: none;
    color: #fff;
}
.logo {
    text-align: center;
    font-size: 3em;
    margin-top: 80px;
    margin-bottom: 20px;
    color: #fff;
}
.logo span {
    color: #B70E21;
}
.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    margin: 35px;
    border-radius: 100px;
}
.contact-wrapper > * {
    padding: 1em;
    color: #fff;
    border-radius: 5px;
}
.contact-form {
    background: #222222;
}
.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-form form label {
    display: block;
}
.contact-form form p {
    margin: 0;
    padding: 1em;
}
.contact-form form .block {
    grid-column: 1 / 3;
}
.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #b8c920;
}
.contact-form form button {
    background: #b8c920;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}
.contact-form form button:hover,
.contact-form form button:focus {
    background: #b8c920;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}
/* CONTACT INFO */
.contact-info {
    background: #000;
}
.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}



/* PIE DE PAGINA*/
.pie-pagina{
    width: 100%;
    background-color: #000000;
    border-bottom: 1px solid #b8c920;
    box-shadow: 2px 0 10px #b8c920;
    margin-top: 100px;
}
 .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    margin-top: 50px;
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    margin-top: 50px;
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    margin-top: 50px;
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #fff242;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(255, 254, 254);
}
.pie-pagina .grupo-2{
    background-color: #fff242;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
.contenedor_g{
	margin-top: 200px;
}

/*ICONO DE WSPP*/
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
/*MEDIA DEL WSPP*/
@media only screen and (min-width:320px) and (max-width:768px){
	.btn-wsp{
	   width:63px;
	   height:63px;
	   line-height: 66px;
   }
}

/*MEDIA DE PIE DE PAGINA*/
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    .fuentehome img{
        border-radius: 15px;
        height: 35vw;
    }
}